<div class="bg-flush">
    <div class="container">
        <div class="col-lg-6 col-md-6 col-sm-12 col-lg-offset-3 col-md-offset-3 text-center">
            <input class="icon-search" ng-model="iconSearch" placeholder="Search Icon">
        </div>
    </div>
</div>
<div class="container">
    <div class="" ng-repeat="(cat, class) in icondata">
        <div class="row mdfi-cat-row">
            <h2 class="col-lg-12 col-md-12">
                {{ cat }}
                <span class="icon-count"> ({{class.length}})</span>
            </h2>
        </div>
        <div class="row mdfi-icon-row">
            <div class="col-md-3 col-sm-4 mdfi-icon-container" ng-repeat="c in class | filter:iconSearch" >
                <span class="mdfi-icon truncate">
                    <i class="{{c}}"></i>
                    {{c}}
                </span>
            </div>
        </div>
    </div>
</div>